@page "/employees"

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Employees</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </a>
</div>

<div class="row">
    @if (Employees == null)
    {
        <text>Loading...</text>
    }
    else
    {
        <div class="col col-md-12">

            <div class="card">
                <div class="card-body">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var employee in Employees)
                            {
                                <tr>
                                    <td><img src="https://placehold.co/32" /></td>
                                    <td>@employee.EmployeeId</td>
                                    <td><a href="/employees/detail/@employee.EmployeeId">@employee.FirstName</a></td>
                                    <td>@employee.LastName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

</div>
